@import "colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

header{
  background: url("../assets/images/header-1920.png");
  width: 85rem;
  height: 45rem;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header div img{
  margin-top: 13rem;
  margin-bottom: 4.5rem;

}

header :nth-child(2) {
  color: var(--white);
  width: 36rem;
  height: 9.1rem;
  max-width: fit-content;
}
header :nth-child(2)  h1 {
  font-size: 5rem;
  font-weight: 700;
}
header :nth-child(2)  p {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
header :nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85rem;
  height: 10rem;
  max-width: 100%;
}
article{
  width: 85rem;
  height: 35rem;
  max-width: 100%;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}
article h3{
  width: 16rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: var(--yellow);
  margin-top: 5rem;
  margin-bottom: 2rem;

}
article .article-content {
  border: solid var(--white);
  border-radius: 20px;
  color: var(--white);
  max-width: 40rem;
  height: 17;
  display: flex;
  padding: 2rem;
  color: var(--yellow);

}
article .article-content div{
  margin-left: 2rem;
}
article ul{
    list-style: inside ;
    list-style-type: square;
    margin-top: 1rem;
} 