* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Raleway;
}

@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-VariableFont_wght.ttf") format(truetype);
  font-weight: 400;
  font-style: normal;
}

:root {
  --navy-blue: #03b5b0;
  --yellow: #ffcc33;
  --white: #ffffff;
  --purple: #7a2b58;
}
.container-header{
  background: url("../assets/images/header-1920.png");
  width: 85rem ;
  height: 45rem;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header-logo{
  margin-top: 13rem ;
  margin-bottom: 4.5rem;
}
.container-header-text{
  color:var(--white);
  width: 36rem;
  height: 9.1rem;
  max-width: fit-content;
}
.container-header-text h1{
  font-size: 5.0rem;
  font-weight: 700
}
.container-header-text p{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
.container-header-mask img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}

.section-content{
  width: 85rem ;
  height: 35rem;
  max-width: 100%;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content h1{
  width: 16rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: var(--yellow);
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.container-section-content{
  border: solid var(--white);
  border-radius: 12px;
  color: var(--white);
  max-width: 51rem;
  height: 17;
  display: flex;
  
}

.container-section-content img{
  padding: 2rem;
}
.container-section-text{
margin-left: 3rem;
padding: 2rem;
}

.container-section-text li{
list-style-type: square;
color: var(--yellow);
}

.container-section-text span{
color: var(--white);
}

@media (max-width:375px) {
  .container-header{
    padding: 2rem;
    width: 66rem;
    height: 34rem;
    display: flex;
}

.container-header-logo {
  margin-top: 5rem ;
  margin-bottom: 4.5rem;
  width: 10rem;
}
.container-header-logo img{
  max-width:100%
}
  .container-header-text{
    height: auto;
    text-align: center;
    ;
    width: 20rem;
    margin-right: 10px;
    margin-top: 30px;
  }

  .container-header-text h1{
    font-size: 44px;
    font-weight: 700;
    margin-top: 1rem;
  }

  .container-header-text p{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
  }

  .section-content{
    max-width: 370px;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
  
  }
   #title-section-content{
    display: none;
  }

  #title-container-section-text{
    margin: 0 0 2rem 0;
  }
  .container-section-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    max-width: 90%;
  }
  .container-section-text{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .container-section-text ul{
    margin-left: 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .container-section-content img{
    display: flex;
    margin-top: -100px;
  }
 #container-section-bottom-left{
  height: 2rem;
  margin-left: -380px;
  margin-top: 8px;
}

}